.change-name-container {
    display: flex;
    justify-content: center;
}

.change-name {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.change-name .tab-label {
    color: red;
}

.close-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.close-button {
    padding: 10px;
    background-color: rgb(24, 67, 131);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.close-button:hover {
    background-color: #0056b3;
}