.address-table .table-action {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.address-table .table-action-icon {
    width: 50%;
}

.address-table .table-action-icon:hover {
    color: red;
    cursor: pointer;
}

@media (max-width: 480px) {
    .address-table .table-action {
        height: 50px;
    }
}