.add-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-phone .error {
    color: red;
}

.add-phone .title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.add-phone .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-phone .label {
    width: 40%;
}

.add-phone .input {
    width: 80%;
}

.add-phone .add-phone-form {
    width: 90%;
}

.add-phone .add-phone-button {
    padding: 10px;
    background-color: rgb(24, 67, 131);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-phone .add-phone-button:hover {
    background-color: #0056b3;
}

.add-phone .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 20px;
}

.add-phone .input-label {
    width: 20%;
    text-align: center
}

.add-phone .input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}