.tabs .tab-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabs .tab {
    padding: 10px;
    background-color: rgb(24, 67, 131);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}

.tabs .tab:hover {
    background-color: #0056b3;
}

.tabs .selected-tab {
    background-color: #3b82f6;
    /* lighter blue */
    color: white;
}