.header .logout {
    text-align: right;
    margin-right: 20px;
}

.header .logout-button {
    padding: 10px;
    background-color: rgb(24, 67, 131);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .logout-button:hover {
    background-color: #0056b3;
}