.tab-section .new-phone-button {
    padding: 10px;
    background-color: rgb(24, 67, 131);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}

.tab-section .new-phone-button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center;
}